<div class="main-content">
    <div class="container-fluid">
   
        <button routerLink="/list-clientes" mat-raised-button class="btn btn-secondary pull-center" style="background-color: #757575; color: white;"  > <i class="material-icons"  >keyboard_backspace</i>    Atras</button>
       <!--  <button (click)="sendImage()" mat-raised-button type="button" matTooltip="Borrar"
        [matTooltipPosition]="'above'"
        class="btn btn-danger btn-link btn-sm btn-just-icon">
        <i class="material-icons">ENVIAR IMAGEN</i>
    </button> -->

        <div class="row">
            
            <div class="offset-md-1 col-md-7">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">person</i>
                        </div>
                        <h4 class="card-title">{{detalleCliente.nombres_completos}}</h4>
                        
                    </div>
                    <div class="card-body table-responsive " >
                        <table class="r">
                            <tr style="border: 5px;">
                                <td class="col-md-2 " style="border: 5px; font-weight: bold;">
                                    Cedula:
                                </td>
                                <td class="col-md-4 " >
                                    {{detalleCliente.cedula}}
                                </td>

                                <td class="col-md-2 " style="border: 5px; font-weight: bold;">
                                    Correo:
                                </td>
                                <td class="col-md-4 ">
                                    {{detalleCliente.correo}}
                                </td>


                            </tr>
                            <tr>
                                <td class="col-md-2 " style="border: 5px; font-weight: bold;">
                                    Celular:
                                </td>
                                <td  class="col-md-3 ">
                                    {{detalleCliente.celular}}
                                </td>

                                <td class="col-md-3 " style="border: 5px; font-weight: bold;">
                                    Fecha de Registro:
                                </td>
                                <td  class="col-md-2 ">
                                    {{detalleCliente.fecha_registro}}
                                </td>
                               
                            </tr>

                            <tr>
                                <td class="col-md-2 " style="border: 5px; font-weight: bold;">
                                    Usuario:
                                </td>
                                <td  class="col-md-3 ">
                                    {{detalleCliente.cedula}}
                                </td>

                                <td class="col-md-6 " style="border: 5px; font-weight: bold;">
                                    Fecha de Nacimiento:
                                </td>
                                <td  class="col-md-1 ">
                                    {{detalleCliente.fecha_nac || 'Sin fecha'}}
                                </td>

                            </tr>

                        </table>


                       
                    </div>
                </div>
            </div>

            <div *ngIf="detalleCliente.codigoqr"  class="col-md-3" style="background-color: rgb(255, 255, 255); display: flex;
            align-items: center;
            justify-content: center;">
              
                <img style=" display: block;" [src]="dataUri">
               
                
            </div>
            <div *ngIf="!detalleCliente.codigoqr"  class="col-md-3" style="background-color: rgb(255, 255, 255);display: flex;
            align-items: center;
            justify-content: center;">
            <button routerLink="/list-clientes" mat-raised-button class="btn btn-secondary pull-center" style="background-color: #2e89df; color: white;"  >
                 <i class="material-icons"  >aspect_ratio</i>    Generar QR</button>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">



                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Membresias </h4>


                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        N#
                                    </th>
                                    
                                    <th>
                                        Fecha inicio
                                    </th>

                                    <th>
                                        Fecha fin
                                    </th>
                                    <th>
                                        Membresia
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                    <th>
                                        Tipo de Pago
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listMembresia ; let i = index">
                                        <td>
                                           {{i+1}}
                                        </td>

                                        <td class="text-primary">
                                            {{item.fecha_inicio}}
                                        </td>
                                        <td class="text-primary">
                                            {{item.fecha_fin}}
                                        </td>
                                        <td >
                                            {{item.tipo_membresia}}
                                        </td>
                                        <td >
                                            {{item.valor | currency}}
                                        </td>
                                        <td >
                                            {{item.tipo_pago}}
                                        </td>
                                       
                                        <td  >
                                            <div [style]="item.style">
                                                {{item.membresia}}
                                            </div>
                                            
                                         </td>
                                        <td class="td-actions text-right">
                                   
                                            <button (click)="deleteMembresia(item.name)" mat-raised-button type="button" matTooltip="Borrar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>





                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">



                    <div class="card-header card-header-success"  style="background: rgb(54, 99, 247);">
                        <h4 class="card-title ">Indices de Masa Corporal </h4>


                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        N#
                                    </th>
                                    
                                    <th>
                                        Peso
                                    </th>

                                    <th>
                                        Altura
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                       IMC
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Peso a subir/bajar
                                    </th>
                                    <!-- <th style="text-align: center;">
                                        Estado
                                    </th> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listPesos ; let i = index">
                                        <td>
                                            {{i+1}}
                                        </td>

                                        <td class="text-primary">
                                            {{item.peso}} kg
                                        </td>
                                        <td class="text-primary">
                                            {{item.altura}} (m)
                                        </td>
                                        <td >
                                            {{item.fecha}}
                                        </td>
                                        <td >
                                            {{item.imc}}
                                        </td>
                                        <td >
                                            {{item.descripcion}}
                                        </td>
                                        <td >
                                            {{item.sobrepeso}}
                                        <!-- <td style="color: #68F50B; text-align: center;font: bold;">
                                            Activo
                                        </td> -->
                                        <td class="td-actions text-right">
                                   
                                            <button (click)="deletePeso(item.name)" mat-raised-button type="button" matTooltip="Borrar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>





                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        


    </div>
</div>