.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: hsla(207, 85%, 69%, 0.651);
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.my-pagination ::ng-deep .ngx-pagination .current {
    background: red;
  }
