<div class="main-content">

    <div class="container-fluid">
        
  

        <div style="text-align: end;align-items: end;border: none;">
            <button routerLink="/list-clientes/add-cliente" mat-raised-button class="btn btn-info btn-lg"> <i
                    class="material-icons">person_add</i> Agregar Cliente</button>
        </div>

        <div class="row">
            
            <div class="col-md-12">

                <div class="box">
                    <div class="container-3">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" [(ngModel)]="searchText" placeholder="Buscar....." />
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">



                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de Clientes</h4>


                    </div>


                    <!-- <div style="display: flex; justify-content: center; align-items: center; height: 200px; font-size: 24px; color: gray;">
                        <p>No se encontraron datos para presentar</p>
                      </div> -->

                    <div class="card-body" >
                        <div class="table-responsive">
                            <table class="table table-hover ">
                                <thead class=" text-primary">
                                    <th>
                                        N#
                                    </th>

                                    <th>
                                        Cedula
                                    </th>
                                   
                                    <th>
                                        Nombres
                                    </th>

                                    <th>
                                        Celular
                                    </th>

                                    <th>
                                        Fecha de Registro
                                    </th>

                                    <!-- <th style="text-align: center;">
                                        Estado
                                    </th> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listaClientes | filter: searchText | paginate: { itemsPerPage: 20, currentPage: p }; let i = index" >
                                        
                                        <td  [routerLink]="['/list-clientes/detalle-cliente/',item.name]">
                                            {{i+1}}
                                        </td>

                                        <td  [routerLink]="['/list-clientes/detalle-cliente/',item.name]">
                                            {{item.cedula}}
                                        </td>
                                       
                                        <td  [routerLink]="['/list-clientes/detalle-cliente/',item.name]">
                                            {{item.nombres_completos}}
                                        </td>

                                        <td  [routerLink]="['/list-clientes/detalle-cliente/',item.name]" >
                                            {{item.celular}}
                                        </td >

                                        <td class="text-warning"  [routerLink]="['/list-clientes/detalle-cliente/',item.name]">
                                            {{item.fecha_registro}}
                                        </td>
                                        <!-- <td style="color: #68F50B; text-align: center;font: bold;">
                                            Activo
                                        </td> -->
                                        <td class="td-actions text-right">
                                            <button [routerLink]="['/list-clientes/edit-cliente/',item.name]"
                                                mat-raised-button type="button" matTooltip="Editar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button (click)="estadoCliente(item.name)" mat-raised-button type="button" matTooltip="Borrar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                   


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;color: black;">
                    <pagination-controls (pageChange)="p = $event"
                    previousLabel="Atras"
                      nextLabel="Siguiente"></pagination-controls>
                </div>
                
            </div>

        </div>
    </div>
</div>