<!-- <div class="main-content" style="background-image: url(assets/img/cover.jpeg);background-size: 100%;">
    -->
    
    <div class="main-content">
   
    <div class="sidebar-background" ></div>
    
    <div class="container-fluid">
        <div style="text-align: end;align-items: end;border: none;" >
            <button routerLink="/list-membresias/add-membresias" mat-raised-button class="btn btn-info btn-lg"> <i
                    class="material-icons">add_box</i> Agregar Membresia </button>
        </div>
        <!-- <div *ngIf="mostrarMemb" >
            <app-add-membresias></app-add-membresias>
        </div> -->


        <div class="row">
            
            <div class="col-md-12">

                <div class="box">
                    <div class="container-3">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" [(ngModel)]="searchText" placeholder="Buscar....." />
                    </div>
                  </div>
            </div>
        </div>


        <div class="row">
            
            <div class="col-md-12">

                <div class="card">



                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Membresias </h4>


                    </div>

                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Filtrar por:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item" (click)="search('')">
                                        <a mat-button class="nav-link active"  id="all" data-toggle="tab">
                                           Todos
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item" (click)="search('ACTIVA')">
                                        <a mat-button class="nav-link "  id="all" data-toggle="tab">
                                           Activas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item" (click)="search('PROXIMO')">
                                        <a mat-button class="nav-link" id="prox"  data-toggle="tab">
                                           Proximas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item" (click)="search('TERMINADA')">
                                        <a mat-button class="nav-link"  id="end"  data-toggle="tab">
                                             Terminadas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                  

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        N#
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Fecha inicio
                                    </th>

                                    <th>
                                        Fecha fin
                                    </th>
                                    <th>
                                        Membresia
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                    <th style="text-align: center;">
                                        Estado
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listaMembresias  | filter: searchText; let i = index">
                                        <td>
                                            {{i+1}}
                                        </td>
                                    
                                        <td>
                                            {{item.nombres_completos}}
                                        </td>

                                        <td class="text-primary">
                                            {{item.fecha_inicio}}
                                        </td>
                                        <td class="text-primary">
                                            {{item.fecha_fin}}
                                        </td>
                                        <td >
                                            {{item.tipo_membresia}}
                                        </td>
                                        <td >
                                            {{item.valor | currency}}
                                        </td>
                                        
                                        <td  >
                                            <div [style]="item.style">
                                                {{item.membresia}}
                                            </div>
                                            
                                         </td>
                                        <td class="td-actions text-right">
                                   
                                            <button (click)="deleteMembresia(item.name)" mat-raised-button type="button" matTooltip="Borrar"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>





                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>