<div class="main-content">

    <!-- <img style="height: 200px; width: 200px;" [src]="dataUri">
    <img style="height: 200px; width: 200px;" [src]="dataUri2"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div type="button" class="card-icon" routerLink="/list-clientes">
                            <i class="material-icons">group</i>
                        </div>
                        <p class="card-category">Clientes</p>
                        <h3 class="card-title">{{clientes}}

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">person_add</i>
                            <a routerLink="/list-clientes/add-cliente" style="font-size: 18px;">Registrar cliente</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div type="button" class="card-icon" routerLink="/list-membresias">
                            <i class="material-icons">card_membership</i>
                        </div>
                        <p class="card-category">Membresias</p>
                        <h3 class="card-title">{{membresias}}

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger ">add_box</i>
                            <a routerLink="/list-membresias/add-membresias" style="font-size: 18px;">Registrar Membresia</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div type="button"  class="card-icon" style="background: rgb(54, 99, 247);" routerLink="/pesos">
                            <!-- <img style="width: 60px;height: auto; " src="/assets/img/icons/peso.png"/> -->
                            <i class="material-icons">accessibility</i>
                        </div>
                        <p class="card-category">Peso</p>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger ">add_box</i>
                            <a routerLink="/pesos" style="font-size: 18px;">Registrar Peso</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">



            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title"><b>Nuevos clientes registrados</b></h4>
                        <!-- <p class="card-category" style="color: black;" >Registrados </p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>#</th>
                                <th>Cliente</th>
                                
                                <th>Celular</th>
                                <th>Fecha Registro</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listaCLientesnuevos ; let i = index" >
                                    <td>{{i+1}}</td>
                                    <td>{{item.nombres_completos}}</td>
                                   
                                    <td>{{item.celular}}</td>
                                    <td>{{item.fecha_registro}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           

           <!--  
             /* ----------==========     Daily Sales Chart initialization For Documentation    ==========---------- */
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Daily Sales</h4>
                            <p class="card-category">
                                <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-warning">
                            <div class="ct-chart" id="websiteViewsChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Email Subscriptions</h4>
                            <p class="card-category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-danger">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Completed Tasks</h4>
                            <p class="card-category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 -->

    </div>
</div>