
<div class="container-fluid fondo">
    <div class="offset-md-1" style="font-size: 50px;margin-top: 10px;">
    BIENVENIDO A OLIMPUS GYM</div>

   

    <table>
        <tr>
            <td>
                <div  style="text-align: center;margin-top: 10px;">
                    <zxing-scanner style="width: 500px;"
                    [enable]="scannerEnabled"
                    [device]="myDevice"
                    (camerasFound)="camerasFoundHandler($event)"
                    (scanSuccess)="scanSuccessHandler($event)"
                    ></zxing-scanner>
                   
                </div>
            </td>
            <td>
                <div *ngIf="!user" class="logo-img" >
                    <img src="./assets/img/logoolimposolo.png"/>
                </div>  



                <div *ngIf="user" class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title">{{user.nombres_completos}}</h3>
                    </div>
                    <div class="card-body" >
                        <span style="font-size: 30px;">Fecha de Inicio:</span> <span style="color: rgb(185, 185, 26);font-size: 40px;"> {{user.fecha_inicio}}</span>  <br> <br>
                        <span style="font-size: 30px;">Fecha de Fin:</span> <span style="color: rgb(23, 163, 30);font-size: 40px;"> {{user.fecha_fin}} </span>
                    </div>
                </div>


            </td>
        </tr>
    </table>




<br>

<div *ngIf="!sendingData"   style="font-size: 50px;margin-top: 10px; color: red;text-align: left;">
    !APUNTA TU CODIGO QR A LA CAMARA!</div>

    <div *ngIf="sendingData"   style="font-size: 30px;margin-top: 10px; color: red;text-align: left;">
        PUEDES RETIRARLO! <br>
        ESTAMOS REGISTRANDO TU ASISTENCIA!</div>
</div>
