<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="card">
          <div class="card-header card-header-danger" *ngIf="!id">
            <h4 class="card-title">Nuevo Cliente</h4>
          </div>
          <div class="card-header card-header-danger" *ngIf="id">
            <h4 class="card-title">Editar Cliente</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="cedula" matInput placeholder="Cedula" type="text" maxlength="10">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="nombres" matInput placeholder="Nombres" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="apellidos" matInput placeholder="Apellidos" type="text">
                </mat-form-field>
              </div>


            </div>
            <div class="row">

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="apodo" matInput placeholder="Usuario" type="text">
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="celular" matInput placeholder="Celular" maxlength="10" type="text">
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Genero</mat-label>
                  <mat-select [(value)]="genero">
                    <mat-option value="Masculino">Masculino</mat-option>
                    <mat-option value="Femenino">Femenino</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="correo" matInput placeholder="Correo electrónico" type="text">
                </mat-form-field>
              </div>
            </div>
            <!--  <div style="border-top: 1px solid black;"></div> -->


          </div>
        </div>
      </div>

      


    </div>


    <div class="row" *ngIf="!id" >
      <div class="offset-md-1 col-md-4 col-sm-5" >
        <div class="card">
          <div class="card-header card-header-primary" style="background-color: #a72abd;">
            <h4 class="card-title">Membresia</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="fecha_inicio" matInput placeholder="Fecha de Inicio" type="date">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="fecha_fin" matInput placeholder="Fecha de Fin" type="date">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <mat-label>Tipo Membresía</mat-label>
                  <select (change)="cambio()" [(ngModel)]="tipo_membresia" matNativeControl>
                    <option value="Mensual">Mensual</option>
                    <option value="Trimestral">Trimestral</option>
                    <option value="Semestral">Semestral</option>
                    <option value="Anual">Anual</option>
                    <option value="Otro">Otro</option>
                  </select>
                </mat-form-field>

              </div>

              <div class="col-md-6">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="valor" matInput placeholder="Valor" type="number">
                </mat-form-field>
              </div>

            </div>

            <div class="row" >
              <div class="col-md-12">
                <mat-form-field>
                  <mat-label>Tipo de Pago</mat-label>
                  <select [(ngModel)]="tipo_pago" matNativeControl>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Transferencia">Transferencia</option>
                    
                  </select>
                </mat-form-field>

            </div>
            </div>




          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-7" >
        <div class="card">
          <div class="card-header card-header-success"  style="background: rgb(54, 99, 247);">
            <h4 class="card-title">Peso y Altura</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="peso" matInput placeholder="Peso(kg)" type="number">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="altura" matInput placeholder="Altura(metros)" type="number">
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="imc" matInput placeholder="(IMC)" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="descripcion" matInput placeholder="Descripcion"  disabled>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="sobrepeso" matInput placeholder="Sobrepeso"  disabled>
                </mat-form-field>
              </div>

              <div class="col-md-4" >
                <button mat-raised-button (click)="calcularIMC()" class="btn btn-warning pull-center">Calcular</button>
              </div>

              
            </div>


            </div>
            

            
          </div>

        </div>




      </div>






    </div>

    <div class="row">
      <div class="offset-md-5 col-md-6" *ngIf="!id">
        <button mat-raised-button (click)="createCliente()" class="btn btn-success pull-center">GUARDAR</button>
      </div>
    </div>

    <div class="row" *ngIf="id">

      <div class="offset-md-4 col-md-2" >
        <button mat-raised-button routerLink="/list-clientes" class="btn btn-warning pull-center">CANCELAR</button>
      </div>

      <div class="col-md-2" >
        <button mat-raised-button (click)="updateCliente()" class="btn btn-success pull-center">EDITAR</button>
      </div>
    </div>


  </div>